@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
  --light-blue-100: #F3F5FC;
  --light-blue-200: #EFF1FA;
  --light-blue-300: #E9ECF8;
  --light-blue-400: #AAB2D5;
  --light-blue-500: #757FB2;

  --dark-blue-100: #609ED4;
  --dark-blue-200: #356EA9;
  --dark-blue-300: #0A3871;
  --dark-blue-400: #072B61;
  --dark-blue-500: #052051;

  --gray-100: #CED4DA;
  --gray-200: #ADB5BD;
  --gray-300: #868E96;
  --gray-400: #495057;
  --gray-500: #343A40;

  --shadow-properties: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--light-blue-100);
  margin: 0;
}

header, section, footer{
  margin: 0 1rem;
}

header{
  margin-top: 1rem;
}

section.encriptador{
  margin-top: 5rem;
}

textarea{
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: inherit;
}

textarea#input{
  color: var(--dark-blue-300);
  background-color: var(--light-blue-100);
}

textarea::placeholder{
  opacity: 1;
  color: var(--dark-blue-300);
  font-family: 'Inter';
}

form{
  height: 13rem;
}

#consideraciones{
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 1em 0;
  color: var(--gray-400);
}

#consideraciones img{
  margin-right: 1em;
}

div.botones{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 24px;
}

button{
  padding: 1.5rem;
  font-size: 16px;
  border: none;
  border-radius: 24px;
  align-self: stretch;
}

#boton-encriptador{
  color: #fff;
  background-color: var(--dark-blue-300);
}

#boton-desencriptador{
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
  background-color: var(--light-blue-100);
}

.seccion-output{
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: var(--shadow-properties);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#boton-copiar{
  color: var(--dark-blue-300);
  background-color: #fff;
  border: 1px solid var(--dark-blue-300);
  margin-top: 2rem;
}

#contenido-default{
  text-align: center;
}

#contenido-default h1{
  color: var(--gray-500);
}

#contenido-default p{
  color: var(--gray-400);
  line-height: 150%;
}

#contenido-default .imagen-default{
  display: none;
}

#output{
  font-size: 1.5rem;
  color: var(--gray-400);
  overflow-wrap: break-word;
}

@media (min-width: 760px){
  header, section, footer{
    margin: 0 2rem;
  }

  header{ margin-top: 2rem; }

  section.encriptador{
    margin-top: 7rem;
  }

  form{ height: 35rem;}

  div.botones{
    flex-direction: row;
  }

  #boton-encriptador, 
  #boton-desencriptador{
    width: 100%;
  }
}

@media (min-width: 1200px){
  body{
    display: grid;
    grid-template-areas: "header output" "encriptador output";
  }

  header{
    grid-area: header;
    margin-top: 2.5rem;
    margin-left: 5rem;
  }

  section.encriptador{
    grid-area: encriptador;
    margin-left: 15vw;
    margin-top: 5rem;
    height: 70vh;
    width: 50vw;
  }

  #seccion-encriptadora{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
  }

  form{
    height: 50vh;
  }

  div.botones{
    margin-bottom: 2.5rem;
  }

  section.seccion-output{
    grid-area: output;
    margin: 0;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #contenido-default{ height: 100%; }
  #contenido-default .contenedor{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #contenido-default .imagen-default{
    display: block;
  }
}

.hide{
  display: none;
}